body {
    color: white;
    font-family: Maximum Impact;
}

/* Mouse out of scrollbar */ 
::-webkit-scrollbar{
    height: 14px;
    width: 4px;
    background: transparent;
}

/* Mouse out on horizontal scrollbar */ 
::-webkit-scrollbar-thumb:horizontal{
    background: rgba(0, 0, 0, 0.61);
    border-radius: 10px;
}

.App {
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
    background-color: black;
}

.Header {
  flex: 2;
}

/* LOGO */

.imagContain {
  display: flex;
}

.img {
  height: 40px;
  width: 40px;
}

.Logotitle {
  font-size: 25px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 5px;
}

.subtitle {
  margin-left: 7px;
  white-space: nowrap;
}

/* SEARCHBAR */

.icon {
  position: absolute;
  margin-left: 15px;
  margin-top: 7px;
}

.search {
  border-radius: 30px;
  background-color: #d9d9d96e;
  height: 30px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  width: 100%;
  border-color: transparent;
  padding: 18px 18px 18px 50px;
}

input::placeholder {
  color: rgb(194, 194, 194);
}

input:focus {
  outline-width: 0;
  border: solid 1px white;
}

/* SHOWDETAILS */

.Show-details {
 flex: 4;
}

.title {
  font-weight: 400;
  font-size: 35px;
}

.ratContain {
  display: flex;
}

.rating {
  margin-top: 3px;
  margin-left: 5px;
}

.overview:hover {
  overflow-y: auto;
}

.overview {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  height: 120px;
  overflow-y: hidden;
  margin-top: 10px;
}


/* Recommandations */

.Recommand {
 flex: 2;
}

.ItemContain {
  position: relative;
  cursor: pointer;
}

.titleItem {
  position: absolute;
  margin-top: -40px;
  height: 40px;
  width: 300px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.SmallImg {
  border-radius: 10px;
}

/* TvShowList */

.ListTitle {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
}

.list:hover {
  overflow-x: overlay;
}

.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
  /* For scrollbar */
  padding-bottom: 30px;
}

.tvShowItem {
  margin-right: 20px;
}

.Footer {
    flex: 1;
   }