body {
    /* color: white; */
    font-family: Maximum Impact;
}

.App {
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
}

.Header {
 flex: 1;
}

.Show-details {
 flex: 2;
}

.Recommand {
 flex: 1;
}

.Footer {
    flex: 1;
   }